.header{

position:sticky;

top:0;

width:100%;

background:#151A28;

border-bottom:1px solid var(--border-color);

z-index:999;

}

.container{

max-width:var(--container);

margin:auto;

padding:18px 20px;

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-size:24px;

font-weight:700;

color:var(--color-primary);

}

.menu{

display:flex;

gap:28px;

}

.menu a{

color:var(--color-text-muted);

transition:var(--transition);

}

.menu a:hover{

color:white;

}

.actions{

display:flex;

gap:10px;

}

.actions button{

color:white;

font-size:20px;

}